<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= customer.age %>
  </p>

  <p>
    <strong>City:</strong>
    <%= customer.city %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= customer.gender %>
  </p>

</div>
